.CommentBox {
    width: 25vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 2vw;
    margin-top: 2vh;
}

.TextsBox {
    width: 30vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: Monserrat;
    border-radius: 20px;
    text-align: center;
}

.CommentBox #articleName {
    width: 100%;
    height: 15%;
    background: #CFD2EC;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.CommentBox #commentText {
    width: 100%;
    height: 80%;
    background: #CFD2EC;
    border-radius: 20px;
    text-indent: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

